*{
    --clock-stroke-color: black;
    --frequency: 1s;
    --max-clock-size: 40rem;
}
svg{
    max-width: var(--max-clock-size);
    max-height: var(--max-clock-size);;
}

.clock circle,
.clock line{
    fill: none;
    stroke: var(--clock-stroke-color);
}

.clock text{
    font-family: sans-serif;
    font-size: 0.4rem;
}